img {
  max-width: 450px;
  max-height: 450px;
  opacity: 0.75;
}

.outerCard {
  height: auto;
  padding: 30px;
  margin: 10px;
  border: 1px black dotted;
}

.outerCardArch {
  height: auto;
  padding: 40px;
  margin: 20px;
  border: 1px #DF5A49 solid;
}

.outerCardArt {
  height: auto;
  padding: 40px;
  margin: 20px;
  border: 1px #45B29D solid;
}

.outerCardDsgn {
  height: auto;
  padding: 40px;
  margin: 20px;
  border: 1px #EFC94C solid;
}


.addContainer {
  height: 300px;
  padding: 10px;
  margin: 50px;
  overflow: hidden;
  border: 1px grey dotted;
  text-align: center;
}

img:hover {
  z-index: 100;
  opacity: 1;
  transform:scale(1.1,1.1);
}

#search {
  margin-right: 75px;
  margin-left: 75px;
}

body {
  font-family: 'Karla', sans-serif;
}

nav {
  margin: 15px;
  height: 150px;
  background-image: url("narrow.png");
  background-repeat: no-repeat;
  background-position: left;
  text-align: right;
  font-family: 'Bubbler One', sans-serif;
  font-size: 30px; }

  h2 {
    margin-top: 30px;
    font-family: 'Bubbler One', sans-serif;
    font-size: 50px;
  }

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Bubbler One', sans-serif;
  font-size: 80px;
}

h3 {
  background-color: inherit;
}
