.imgCard img {
  max-width: 450px;
  max-height: 450px;
  opacity: 0.75;
}

.imgCard {

}

.tagLinks{
font-family: 'Karla', sans-serif;
font-size: 30px;
color: white;
text-decoration: none;
}

.contentCard{
  float: left;
  overflow: visible;

}

.outerCard {
  height: auto;
  padding: 30px;
  margin: 10px;
  border: 1px black dotted;
}

.outerCardArch {
  height: auto;
  padding: 40px;
  margin: 20px;
  border-right: 2px #FC4349 solid;
  border-bottom: 3px #FC4349 solid;
  background-color: #FFB3A8;
  /*opacity: 0.5;*/
}

.outerCardArt {
  height: auto;
  padding: 40px;
  margin: 20px;
  border-right: 2px #45B29D solid;
  border-bottom: 3px #45B29D solid;
  background-color: #82B2A9;
}

.outerCardDsgn {
  height: auto;
  padding: 40px;
  margin: 20px;
  border-right: 2px #EFC94C solid;
  border-bottom: 3px #FFAB3B solid;
  background-color:#FFD296;
}

.outerCardSrch {
  height: auto;
  padding: 40px;
  margin: 20px;
  border: 1px grey solid;
}

.addContainer {
  height: inherit;
  padding: 100px;
  margin: 50px;

  border: 1px grey dotted;
  text-align: center;
}

.imgCard img:hover {
  z-index: 100;
  opacity: 1;
  transform:scale(1.1,1.1);
}

#logoutButton{
  float: right;
}

#search {
  margin-right: 75px;
  margin-left: 75px;
}

body {
  font-family: 'Karla', sans-serif;
  margin-left: 30px;
}

nav {
  margin: 15px;
  height: 150px;
  text-align: right;
  font-family: 'Karla', sans-serif;
  font-size: 30px; }

  h2 {
    margin-top: 30px;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
  }

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Karla', sans-serif;
  font-size: 80px;
}

h3 {
  background-color: inherit;
  font-size: 40px;
}
