  <div id="header" class ="col-sm-12 col-md-12 col-lg-12">
      <div class ="col-sm-12 col-md-12 col-lg-12">
        <img src="/views/templates/finalLogo.jpg" />
      </div>
      <hr />

      <div id="navBar" class ="col-sm-12 col-md-12 col-lg-12" >
  <nav>
      <ul>
        <a href="/home"> home</a>
        <a href="/add">  add </a>
        <a href="/arch">  arch</a>
        <a href="/dsgn">  dsgn  </a>
        <a href="/art">  art  </a>
        <a href="/search"> search</a>
      </ul>
    </nav>
  </div>
  </div>
