
<script src="https://static.filestackapi.com/v3/filestack-0.6.2.js"></script>
<div class="addDiv col-sm-12 col-md-12 col-lg-12">
<div ng-controller = "UserController as uc" >
  <!-- <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script> -->






  <div class='container row'>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'success')" ng-if="show" close="closeAlert($index)"  dismiss-on-timeout="4000">{{alert.msg}}</div>
  <div class="addContainer" class="col-sm-6 col-md-6 col-lg-6">
    <h3>Add a photo to share...</h3>
<div class="addForm">
<input type="button" ng-model='uc.imgUpld' value=" Click to Upload Image" ng-click="uc.showPicker()" />
<select ng-model="uc.type" name="type">
  <option value="arch">Architecture</option>
  <option value="dsgn">Design</option>
  <option value="art">Art</option>
</select>
<br/>
<br/>
<br/>
<br/>


  <input ng-model="uc.title" type="text" name="alias" value="" placeholder="add title...">
  <input ng-model="uc.linkURL" type="text" name="alias" value="" placeholder="add link url...">
  <br/>
  <br/>
  <br/>
  <br/>
  <input ng-model="uc.tag1" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag2" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag3" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag4" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag5" type="text" name="alias" value="" placeholder="add tag...">
<br/>
<br/>
</br/>

  <button ng-click="uc.addItem()" class='btn btn-success' type="button" name="button">Add New Img</button>
</div>
</div>
</div>
  </div>
</div>
