
<script src="https://static.filestackapi.com/v3/filestack-0.6.2.js"></script>

<nav>
    <ul>
      <a href="/home"> home</a>
      <a href="/add">  add </a>
      <a href="/arch">  arch</a>
      <a href="/dsgn">  dsgn  </a>
      <a href="/art">  art  </a>
    </ul>
  </nav>
<div ng-controller = "UserController as uc" ng-init = 'uc.getItems(favs)'>
<div class="addForm">
<input type="button" ng-model='uc.imgUpld' value="Upload" ng-click="uc.showPicker()" />



  <input ng-model="uc.title" type="text" name="alias" value="" placeholder="add title...">
  <input ng-model="uc.linkURL" type="text" name="alias" value="" placeholder="add link url...">
  <select ng-model="uc.type" name="type">
    <option value="arch">Architecture</option>
    <option value="dsgn">Design</option>
    <option value="art">Art</option>
  </select>
  <input ng-model="uc.tag1" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag2" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag3" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag4" type="text" name="alias" value="" placeholder="add tag...">
  <input ng-model="uc.tag5" type="text" name="alias" value="" placeholder="add tag...">


  <button ng-click="uc.addItem()" class='btn btn-success' type="button" name="button">Add New Img</button>
</div>
</div>
