<nav>
    <ul>
      <a href="/home"> home</a>
      <a href="/add">  add </a>
      <a href="/arch">  arch</a>
      <a href="/dsgn">  dsgn  </a>
      <a href="/art">  art  </a>
      <a href="/search"> search</a>
    </ul>
  </nav>


<h1>Architecture</h1>
<div class="archDiv col-sm-12 col-md-12 col-lg-12">
<div ng-controller = "viewsController as x" ng-init = 'x.getArch()'>
  <script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
  </script>

  <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'success')" ng-if="show" close="closeAlert($index)"  >{{alert.msg}}</div>



  <div ng-repeat='thing in x.allArch | orderBy:"-votes.length"'  class ="container-fluid outerCardArch col-sm-10 col-md-10 col-lg-10">
    <div class ="row">
      <div class = "imgCard col-sm-11 col-md-8 col-lg-7">
        <img src= "{{thing.imgURL}}" />
      </div>
<div class= "contentCard col-sm-11 col-md-3 col-lg-4">
      <h3>{{ thing.title }}</h3>
      <p>Votes: {{thing.votes.length}}</p>
      <a href="{{thing.linkURL}}"></a>
      <ul ng-repeat="tag in thing.tags track by $index">
        <span ng-hide="thing.tags[$index] == 'null'">{{tag}}</span>
      </ul>
    <button ng-click='x.upVote(thing._id)'>UPVOTE</button>
  </div>
</div>
</div>
</div>
</div>
