<nav>
    <ul>
      <a href="/home"> home</a>
      <a href="/add">  add </a>
      <a href="/arch">  arch</a>
      <a href="/dsgn">  dsgn  </a>
      <a href="/art">  art  </a>
    </ul>
  </nav>
<h1>Architecture</h1>

<div ng-controller = "viewsController as x" ng-init = 'x.getArch()'>
  <div class='container row'>
  <div ng-repeat='thing in x.allArch' class='col-sm-4'>
    <div class = "card" class='col-sm-4'>
      <img src= "{{thing.imgURL}}"/>
      <h2>{{ thing.title }}</h3>
      <a href="{{thing.linkURL}}"></a>
      <h4>{{ thing.tags }} {{ thing.tag2 }} {{ thing.tag3 }} {{ thing.tag4 }} {{ thing.tag5 }}</h4>
    </div>
  </div>
</div>
</div>
