<nav>
    <ul>
      <a href="/home"> home</a>
      <a href="/add">  add </a>
      <a href="/arch">  arch</a>
      <a href="/dsgn">  dsgn  </a>
      <a href="/art">  art  </a>
      <a href="/search"> search</a>
    </ul>
  </nav>
<h1>Architecture</h1>

<div ng-controller = "viewsController as x" ng-init = 'x.getArch()'>
  <div class='container row'>
  <div ng-repeat='thing in x.allArch' class="col-sm-12 col-md-6 col-lg-4">
    <div class= "card" class="col-sm-12 col-md-6 col-lg-4">

      <img class="photos" src= "{{thing.imgURL}}">
      <span >
      <h2>{{ thing.title }}</h3>
      <a href="{{thing.linkURL}}"></a>
      <p>{{ thing.tags[0]}} {{ thing.tags[1]}} {{ thing.tags[2]}} {{ thing.tags[3]}} {{ thing.tags[4]}}</p>
      </span>

      </div>
      <p>{{thing.votes.length}}</p>
<button ng-click='x.upVote(thing._id)'>+</button>
    </div>
    </div>
  </div>
