<div ng-controller="UserController as x" ng-init='x.getUserItems()'>
  <h1>{{x.userName}}</h1>

  <h1>Architecture</h1>
  <div class='container row'>
    <div ng-repeat='thing in x.archResult' class='col-sm-4'>
      <div class="card" class='col-sm-4'>
        <img src="{{thing.imgURL}}" />
        <h2>{{ thing.title }}</h3>
      <a href="{{thing.linkURL}}"></a>
      <p>{{ thing.tag1 }} {{ thing.tag2 }} {{ thing.tag3 }} {{ thing.tag4 }} {{ thing.tag5 }}</p>
      <button ng-click='x.deleteItem(thing._id)'>Remove Item</button>
    </div>
  </div>
  <h1>Desgin</h1>
  <div class='container row'>
  <div ng-repeat='thing in x.dsgnResult' class='col-sm-4'>
    <div class = "card" class='col-sm-4'>
      <img src= "{{thing.imgURL}}"/>
      <h2>{{ thing.title }}</h3>
      <a href="{{thing.linkURL}}"></a>
      <p>{{ thing.tag1 }} {{ thing.tag2 }} {{ thing.tag3 }} {{ thing.tag4 }} {{ thing.tag5 }}</p>
      <button ng-click='x.deleteItem(thing._id)'>Remove Item</button>
    </div>
  </div>
</div>
  <h1>Art</h1>
  <div class='container row'>
  <div ng-repeat='thing in x.artResult' class='col-sm-4'>
    <div class = "card" class='col-sm-4'>
      <img src= "{{thing.imgURL}}"/>
      <h2>{{ thing.title }}</h3>
      <a href="{{thing.linkURL}}"></a>
      <p>{{ thing.tag1 }} {{ thing.tag2 }} {{ thing.tag3 }} {{ thing.tag4 }} {{ thing.tag5 }}</p>
      <button ng-click='x.deleteItem(thing._id)'>Remove Item</button>
    </div>
  </div>
</div>
</div>
</div>
