

<nav>
    <ul>
      <a href="/home"> home</a>
      <a href="/add">  add </a>
      <a href="/arch">  arch</a>
      <a href="/dsgn">  dsgn  </a>
      <a href="/art">  art  </a>
      <a href="/search"> search</a>
    </ul>
  </nav>

<div ng-controller="UserController as x" >
  <h1> welcome {{x.userName}}</h1>

  <h1>Architecture</h1>
  <div class='container row'>
      <div ng-repeat='thing in x.archResult' class="col-sm-12 col-md-6 col-lg-4" >
      <div class = "card" class="col-sm-12 col-md-6 col-lg-4">
          <img src="{{thing.imgURL}}" />
          <span>
          <h2>{{ thing.title }}</h3>
      <p>{{ thing.tags[0]}} {{ thing.tags[1]}} {{ thing.tags[2]}} {{ thing.tags[3]}} {{ thing.tags[4]}}</p>
      </span>
    </div>
      <button ng-click='x.deleteItem(thing._id)'> Remove Item</button>
        <a ng-href="{{thing.linkURL}}">Link</a>
    </div>
  </div>

    <h1>Design</h1>
  <div class='container row'>
  <div ng-repeat='thing in x.dsgnResult'class="col-sm-12 col-md-6 col-lg-4" >
    <div class = "card" class="col-sm-12 col-md-6 col-lg-4">
      <img src= "{{thing.imgURL}}" />
      <span>
        <h2>{{ thing.title }}</h3>
        <p>{{ thing.tags[0]}} {{ thing.tags[1]}} {{ thing.tags[2]}} {{ thing.tags[3]}} {{ thing.tags[4]}}</p>
      </span>
    </div>
      <button ng-click='x.deleteItem(thing._id)'>Remove Item</button>
      <a ng-href="{{thing.linkURL}}">Link</a>
    </div>
  </div>

  <h1>Art</h1>
  <div class='container row'>
  <div ng-repeat='thing in x.artResult' class="col-sm-12 col-md-6 col-lg-4" >
    <div class = "card" class="col-sm-12 col-md-6 col-lg-4">
      <span>
      <h2>{{ thing.title }}</h3>

      <p>{{ thing.tags[0]}} {{ thing.tags[1]}} {{ thing.tags[2]}} {{ thing.tags[3]}} {{ thing.tags[4]}}</p>
      </span>
      <img src= "{{thing.imgURL}}"/>
    </div>
    <button ng-click='x.deleteItem(thing._id)'>Remove Item</button>
    <a ng-href="{{thing.linkURL}}">Link</a>
    </div>
  </div>
</div>
